<div id="container" data-controller="page">
  <div  id="controls">
    <div class="categoriesButtons" data-action="click->page#switchillus">Illustrateur</div>
    <div>||</div>
    <div class="categoriesButtons" data-action="click->page#switchdev">Développeur Web</div>
  </div>
  <div class="animate__animated animate__slideInLeft" id="mapillus" data-page-target="mapillus" >
      Je suis illustrateur
  </div>
  <div class="animate__animated animate__fadeOut" id="mapdev" data-page-target="mapdev">
      Je suis développeur
  </div>


</div>
