<div id="container" data-controller="page">
  <div  id="controls">
    <p data-action="click->page#switchillus">Illustrateur</p>
    <p>||</p>
    <p data-action="click->page#switchdev">Développeur Web</p>
  </div>
  <div class="animate__animated animate__slideInLeft" id="mapillus" data-page-target="mapillus" >
      Je suis illustrateur
  </div>
  <div class="animate__animated animate__fadeOut" id="mapdev" data-page-target="mapdev">
      Je suis dev
  </div>
</div>
