<div id="container" data-controller="page">

  <div  id="controls" class="slides animate__animated animate__fadeIn">
    <div class="categoriesButtons" data-action="click->page#switchillus">Illustrateur</div>
    <div>||</div>
    <div class="categoriesButtons" data-action="click->page#switchdev">Développeur</div>
  </div>

  <div  id="IllusControls" class="animate__animated slides" data-page-target="illuMenu">
    <div class="categoriesButtons"><i class="bi bi-instagram" style="font-size: larger"></i></div>

  </div>

  <div  id="DevControls" class="animate__animated slides" data-page-target="DevMenu">
    <div class="categoriesButtons"><i class="bi bi-github " style="font-size: larger"></i></div>
  </div>

  <div class="animate__animated slides" id="mapwelcome" data-page-target="mapwelcome" >
      <div class="animate__animated animate__fadeIn textinslide" style="font-size: larger" >Bienvenue !</div>
  </div>
  <div class="animate__animated  slides" id="mapillus" data-page-target="mapillus" >
      <div class="animate__animated textinslide" data-page-target="textillus">Je suis <strong>illustrateur</strong></div>
  </div>
  <div class="animate__animated slides" id="mapdev" data-page-target="mapdev">
      <div class="animate__animated textinslide" data-page-target="textdev">Je suis <strong>développeur web</strong></div>
  </div>


</div>
